<%= form_for :game, url: '/games', method: 'post' do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
		<p>
		<%= f.label :duration %>
		<%= f.number_field :duration %> minutes
	</p>
	<p>
		<%= f.label :complexity %>
		<%= f.select :complexity, [['Low','low'],['Medium','med'],['High','high']] %>
	</p>
	<p>
		<%= f.label "Players from" %>
		<%= f.number_field :players_min %> to <%= f.number_field :players_max %>
	</p>
	<p>

		<% counter = 0 %>
		<% @types.each do |type| %>
			<%= f.label type.phrase %>
			<%= f.check_box "type[]" "#{type.id}" %>
			<% if counter == 5 %>
				<br>
				<% counter = 0 %>
			<% else %>
				<% counter += 1 %>
			<% end %> 
		<% end %>
		
	</p>
	<p>
		<%= f.submit value = "Create new game" %>
	</p>

<% end %>
