<tr>
  <td><%# vote total %></td>
  <td><%= (link_to "#{game.title}", game_path(game)) %></td>

  <% if check_players(game) %>
    <td><%= game.players_min %></td>
  <% else %>
    <td><%= "#{game.players_min}-#{game.players_max}" %></td>
  <% end %>

  <td><%= duration(game) %></td>
<% if @ownership %>
  <td><%= i_own?(game) %></td>

  <td><%= friend_own?(game) %></td>
<% end %>

</tr>
