<h2><%= @game.title %></h2>

<table>
  <tr>
    <td>Complexity: </td>
    <td><%= @game.complexity %></td>
  </tr>
  <tr>
    <td>Type: </td>
    <td>
      <% type_list = @game.types.each_with_index do |type,index| %>
        <%= link_to "#{type.phrase}", type_path(type) %>
        <% if index == @game.types.length - 2 %>
          , and
        <% elsif index == @game.types.length - 1 %>
        <% else %>
          ,
        <% end %>
      <% end %>
    </td>
  </tr>
  <% if @game.players_min && @game.players_max %>
    <tr>
      <td>Number of Players: </td>
      <td><%= @game.players_min %> - <%= @game.players_max %></td>
    </tr>
  <% elsif @game.players_min && @game.players_max == nil %>
    <tr>
      <td>Number of Players: </td>
      <td><%= @game.players_min %> and up!</td>
    </tr>
  <% elsif @game.players_max && @game.players_min == nil %>
    <tr>
      <td>Number of Players: </td>
      <td>Up to <%= @game.players_max %></td>
    </tr>
  <% else %>
    <tr>
      <td>Number of Players: </td>
      <td>Any or unspecified</td>
    </tr>
  <% end %>
  <tr>
    <td>Estimated length in time to play: </td>
    <td><%= duration(@game) %></td>
  </tr>
</table>

<hr>

<h3>What people are saying about <%= @game.title %></h3>

